extends layout

block content
  h1= title
  p Thanks for trying out my express app!
  p This is also using very light MDB. Pretty cool right.
  p Clone my repo to mess with the express app yourself.
  p Have a good day!

